.custom-text {
  &--red {
    color: $red;
  }

  &--has-echo {
    letter-spacing: .2rem;
    line-height: 5rem;
    position: relative;
    &::before {
      color: rgba($red, .1);
      content: attr(data-echo);
      font-size: 4rem;
      font-weight: normal;
      left: 50%;
      margin-top: -.35rem;
      position: absolute;
      text-transform: capitalize;
      transform: translate(-50%, -50%);
      top: 50%;
      z-index: -1;
    }
  }
}