
.title {
  font-size: 40px;
  font-weight: 600;
  color: #303030;
  &__big {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
    &-primary{
      color: #333333;
    }
    &-white{
      color: #F4FFF6;
    }
  }
  
  @include responsive(small) {
    font-size: 1.6rem;
  }
}

.text {
  font-size: 16px;
  &-green{
    color: $green !important;
  }
  &__big {
    font-size: 18px;
  }
  @include responsive(small) {
    font-size: 1rem;
  }
}

.border{
  &-green{
    border: 1px solid $green !important;
  }
  &-bottom{
    &-green{
      border-bottom: 1px solid $green !important;
    }
  }
}

main {
  min-height: 100vh;
  position: relative;
}
.bg {
  &-green{
    background-color: $green !important;
  }
}

.filter{
  &-black{
    filter: invert(100%);
  }
  
}

.bg{
  &-darken{
    background-image: linear-gradient(115deg, #00000049 0%, #22222251 100%);
  }
  &__light-green{
    background-color: #F4FFF6;
  }
}
.circle{
  border-radius: 50% !important;
}

.navbar-collapse.show, .collapsing.show{
  display: flex;
  flex-direction: column;
}

.hero{
  height: 100vh;
  max-height: 900px;
  .col{
    h2{
      line-height: 1.2;
    }
  }
  &-wrapper{
    position: relative;
    height: 100%;
    
    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: url("/assets/images/hero-bg-2.png");
      background-position: 10% 10%;
      background-size: 150%;
      background-color: #185721;
      z-index: -1;
    }
    div.row{
      padding: 0 15px;
      height: 100%;
      > div{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        display: flex;
        height: 100%;
      }
    }
  }

  
}
@media (max-width: 991px) {
  .hero-wrapper::before{
    background-image: url("/assets/images/hero-bg.png");
  }
}

.cover{
  min-height:80vh;
}

.section{
  padding: 12px;
}


@media (max-width: 1200px) {
  #welcome-section{
    .row{
      .col{
        .img-cover{
          width: 96%;
        }
      }
    }
  }
}

#welcome-section{
  .img-cover{
    aspect-ratio: auto 665 / 742;
    height: auto;
    width: 75%;
  }
}

#blueprint{
  position: relative;
  height: 320px;
  background-image: url("/assets/images/blueprint.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    background-image: linear-gradient(114deg, #21903C99 0%, #08391499 100%);
  }
  &.container{
    position: relative;
  }
}

#ministry-section{
  position: relative;
  background-color: #F4FFF6;
  .row{
    .col{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .col:first-child{
      align-items: start;
    }
    .col:nth-child(2){
      align-items: center;
    }
  }
}

#news-section{
  position: relative;
  .slider-wrapper{
    overflow: hidden;
    .slick-prev,
    .slick-next{
      z-index: 1;
      background-color: $white;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
    .slick-prev{
      left: 0;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 15px;
        background-image: url("/assets/icons/left-arrow-drk.svg");
        background-size: cover;
      }
    }
    .slick-next{
      right: 0;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        background-image: url("/assets/icons/right-arrow-grn.svg");
        background-size: cover;
      }
    }
    .slick-slide{
      padding: 0 5px;
      img{
        object-fit: cover;
        height: 290px;
      }
      .card{
        overflow: hidden;
        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0,0,0,0.3);
        }
        .card-body{
          padding-left: 0;
          padding-bottom: 0;
          .card-text{
            font-size: 14px;
          
          }
        }
      }
    }
  }
}

#page-links{
  position: relative;
  background-image: linear-gradient(114deg, #20822F 0%, #B3952E 100%);
  .container{
    background-color: $white;
    .slider-wrapper{
      .slick-next::before,
      .slick-prev::before{
        color: #21903c ;
      }
      .slick-slide{
        padding: 0 5px;
      }
      .col{
        h4{
          color:red;
          font-weight: 200;
        }
        li{
          padding: 10px 0 0 0;
          border-bottom: 0.5px solid gray;
          a{
            color: $green;
            text-decoration: none;
          }
        }
      }
    }
  }
}

#agencies-section{
  background-color: #F4FFF6;
  .row{
    .col{
      .box{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 0.5rem;
        justify-content: center;
        div{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1.5rem 0;
        }
        a{
          display: flex;
          justify-content: center;
        }
        img{
          width: 80%;
        }
      }
    }
  }
}

#follow-section{
  .container{
    .heading{

      .black-circle{
        display: flex;
        justify-content: center;
        background-color: black;
        color: $white;
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
      svg{
        width: 30px;
      }
    }
    .btn{
      svg{
        width: 15px;
      }
    }
    .card{
      width: 100%;
      height: 277.5px;
      border-radius: 0;
      cursor: pointer;
      img{
        height: 100%;
        object-fit: cover;
        border-radius: 0;
      }
      .card-img-overlay{
        padding: 0;
      }
      .card-body{
        display: flex;
        justify-content: end;
        svg{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

#footer-section{
  .row{
    .p-10{
      padding: 10px;
    }
    .social-links{
      display: flex;
      .social{
        width: 50px;
        height: 50px;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px 0 0;
        &.svg-bg{
          &--facebook{
            background-color: #3b5998;
          }
          &--twitter{
            background-color: #00acee;
          }
          &--instagram{
            background: linear-gradient(45deg, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D);
          }
          &--linkedin{
            background-color: #0077B5;
          }
        }
      }
      svg{
        width: 25px;
        height: 25px;
        fill: $white;
      }
    }
    .custom-embed{
      iframe{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.animate{
  &-floatingY{
    transform: translateY(-5px);
    animation: 1.4s floatingY linear infinite;
  }
  &-floatingX{
    transform: translateX(0px);
    animation: 1.4s floatingX linear infinite;
  }
  &-zoomInBg::before{
    background-size: 100%;
    animation: 40s ZoomInBg ease-in-out infinite;
    animation-delay: 1s;
  }
}


@keyframes ZoomInBg {
  0%{
    background-size: 150%;
    background-position: 10% 10%;
  }
  40%{
    background-size: 220%;
    background-position: 80% 80%;
  }
  100%{
    background-size: 150%;
    background-position: 10% 10%;
  }
}

@keyframes floatingY {
  0%{
    transform: translateY(-8px);
  }
  50%{
    transform: translateY(4px);
  }
  100%{
    transform: translateY(-8px);
  }
}

@keyframes floatingX {
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(5px);
  }
  100%{
    transform: translateX(0px);
  }
}

